@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
html body {
  max-width: 100vw;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  height: 100px;
  background-color: #6CACE4;
  display: flex;
  flex-direction: column;
  height: fit-content;
  z-index: 2;
  border-bottom: 2px solid #ffffff;
}
header div div h1 {
  font-size: 2.2rem;
  margin: 5px 0px 5px 20px;
  font-weight: 500;
}
header div h2 {
  font-size: 1.5rem;
  margin: 5px 0px 5px 20px;
  font-weight: 500;
}
header div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}
header div ul li {
  font-size: 1.2rem;
  list-style-type: none;
  margin: 40px auto;
  transition: transform 0.2s ease-out;
  padding: 3px;
  width: -moz-fit-content;
  width: fit-content;
}
header div ul li a {
  text-decoration: none;
  color: #000000;
  padding: 3px;
  font-size: 1.2rem;
}
header div a .logoWspMaps {
  width: 60px;
  height: 60px;
  margin: 5px;
  display: none;
}
header .fixingLogo {
  display: flex;
  flex-direction: row;
  align-self: center;
}
header .fixingLogo img {
  margin: 7px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  height: 135px;
}
header .fixingLogo div {
  margin-top: 30px;
}

.ulHeader {
  display: flex;
  flex-direction: row;
}
.ulHeader li a {
  font-size: 2.4rem;
}

.selected {
  text-decoration-color: #7D4016;
  text-decoration-line: underline;
  text-decoration-thickness: 2px solid;
}

.logoHeader {
  width: auto;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.h1 {
  font-size: 3.1rem;
  margin-top: -50px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

h2 {
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

main {
  margin-top: 120px;
  max-width: 100vw;
}
main div {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
main div h5 {
  font-size: 2rem;
  margin: 7px 3px 3px 5px;
  font-weight: 400;
}
main #btnBackToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
main #btnBackToTop:hover {
  transform: scale(1.05);
}
main .photos-display div img {
  max-width: 100%;
  height: auto;
}

#inicio {
  margin-top: 50px;
}

.introduccion {
  font-size: 1.8rem;
  text-align: justify;
  margin: 4px 10px;
  padding: 5px;
  background-color: #6CACE4;
  border-radius: 5px;
}

h3 {
  font-size: 2rem;
  margin: 7px;
}

p {
  font-size: 2rem;
  margin: 7px;
}

.hDivisor {
  border-top: 1px solid #6CACE4;
  top: 50%;
  margin: 20px 60px 20px 60px;
}

.propertiesUl {
  background-color: #6CACE4;
}
.propertiesUl div .title {
  text-align: center;
  font-size: 2.7rem;
  padding-bottom: 7px;
  border-bottom: 1px solid #ffffff;
}
.propertiesUl ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  font-size: 1.9rem;
  list-style-type: none;
}
.propertiesUl ul li {
  margin: auto;
  padding: 3px;
}

@media only screen and (max-width: 400px) {
  .propertiesUl ul {
    display: flex;
    flex-direction: column;
  }
  .emergenciasSection .emergenciesVertical {
    display: flex;
    flex-direction: column;
  }
}
#ig {
  color: #dd2a7b;
}

#wsp {
  color: #43d854;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
/*Sección de mapas mobile*/
@media only screen and (max-width: 1250px) {
  #maps {
    max-width: 100vw;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
  #maps .mapPlusLink {
    display: flex;
    flex-direction: column;
  }
  #maps .mapPlusLink .divMaps {
    border: 1px solid #efb810;
    border-radius: 5px;
  }
  #maps .mapPlusLink .divMaps iframe {
    width: 40vw;
    height: 350px;
  }
  .emergenciasWsp {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #maps .mapPlusLink .divMaps iframe {
    width: 95vw;
    height: 350px;
  }
}
#btnBackToTop {
  display: none;
}

/*making the logo by hand*/
.ar-s {
  font-size: 3.3rem;
  color: #0a497b;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
}

.gentina-alud {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.whatsapp-btn {
  position: fixed;
  bottom: 75px;
  right: 20px;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
  border-radius: 100px;
}
.whatsapp-btn img {
  width: 60px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantén la proporción */
  border-radius: 100px; /* Para un aspecto redondeado */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para un efecto elevado */
  background-color: #ffffff;
}

.ambulancias-section div p {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}

.emergenciasSection {
  display: flex;
  flex-direction: column;
}
.emergenciasSection div {
  display: flex;
  flex-direction: row;
}
.emergenciasSection div a {
  color: #ffffff;
  text-decoration: underline;
  margin: auto 5px;
  font-size: 2.9rem;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.emergenciasSection div a:visited {
  color: #ffffff;
}

.sabemosAmamosHacemos {
  font-size: 2.3rem;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  text-decoration: underline 2px solid #efb810;
}

.sabemosAmamosHacemos2 {
  font-size: 2.3rem;
  text-align: center;
  border: solid 1px #000000;
  border-radius: 25px;
  padding: 3px;
}

.sabemosAmamosHacemos3 {
  font-size: 2.3rem;
  text-align: center;
  padding: 3px;
}

.sabemosAmamosHacemos4 {
  font-size: 2.3rem;
  text-align: center;
  padding: 3px;
  background-color: #6CACE4;
  border-radius: 5px;
}

footer {
  background-color: #6CACE4;
  margin-top: 5px;
  display: flex;
  flex-direction: column-reverse;
}

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.redes-container ul li {
  display: inline-block;
  padding: 0;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.redes-container ul li a {
  display: block;
  padding: 10px 10px;
  color: #ffffff;
  line-height: 60px;
  width: 60px;
  font-size: 3rem;
  border-radius: 5px;
}
.redes-container ul li a:visited {
  color: #ffffff;
}
.redes-container ul li a img {
  width: 30px;
}

.instagram {
  background: #dd2a7b;
}

.youtube {
  background: #ff0000;
}

.facebook {
  background: #3b5999;
}

.whatsapp {
  background: #43d854;
}

.author {
  font-size: 1.7rem;
  color: #ffffff;
  margin: 10px;
}
.author p {
  text-align: center;
}

.ul-redes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "facebook  fa-instagram fa-whatsapp";
  padding: 0;
}

.personal {
  padding: 3px;
  border-radius: 5px;
  color: #ffffff;
}
.personal:visited {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
  }
  header .fixingLogo {
    display: flex;
    flex-direction: row;
  }
  header .fixingLogo .logoHeader {
    height: 135px;
    width: auto;
    border-radius: 10px;
  }
  header .fixingLogo img {
    margin: 7px;
  }
  header .fixingLogo div div {
    margin-top: 35px;
  }
  header .fixingLogo div div h1 {
    font-size: 3.3rem;
  }
  header .fixingLogo div h2 {
    font-size: 1.8rem;
  }
  header .divHeaderOptions ul {
    display: flex;
    flex-direction: row;
  }
  header .divHeaderOptions ul li {
    font-size: 2.2rem;
  }
  header .divHeaderOptions ul li:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }
  main {
    margin-top: 130px;
  }
  main section div {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 100vw;
  }
  main section div h4 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 20px auto;
  }
  main section div img {
    max-width: 35vw;
    margin: auto;
  }
  main .ambulancias-section {
    display: flex;
    flex-direction: row;
  }
  main .ambulancias-section div {
    align-items: center;
  }
  main .ambulancias-section div p {
    text-align: justify;
    margin: auto;
    margin: 10px;
    border-bottom: none;
  }
  main .ambulancias-section div img {
    border-left: 1px solid #ffffff;
    padding-left: 5px;
  }
  main .photos-display {
    display: flex;
    flex-direction: row;
  }
  main .photos-display div img {
    width: 400px;
    height: 400px;
    border: 2px solid #6CACE4;
  }
  main .photos-display div img:hover {
    border: 2px solid #efb810;
  }
  main .photos-display-2 {
    display: flex;
    flex-direction: row;
  }
  main .photos-display-2 div img {
    width: 400px;
    height: 420px;
    border: 2px solid #6CACE4;
  }
  main .photos-display-2 div img:hover {
    border: 2px solid #efb810;
  }
  main .sabemosAmamosHacemos {
    font-size: 3rem;
    margin-top: 40px;
    padding: 7px;
    text-decoration: underline 2px solid #6CACE4;
    /*border: solid 1px #000000;
    border-radius: 25px;
    &:hover{
        background-color: $goldenArg;
    }*/
  }
  main .sabemosAmamosHacemos:hover {
    text-decoration: underline 2px #efb810;
  }
  main .sabemosAmamosHacemos2 {
    font-size: 3rem;
    margin-top: 40px;
    padding: 7px;
    border: solid 1px #000000;
    border-radius: 25px;
  }
  main .sabemosAmamosHacemos2:hover {
    background-color: #efb810;
  }
  main .sabemosAmamosHacemos3 {
    font-size: 3rem;
    margin-top: 40px;
    padding: 7px;
  }
  main .sabemosAmamosHacemos4 {
    font-size: 3rem;
    margin-top: 40px;
    padding: 7px;
    background-color: #6CACE4;
    border-radius: 5px;
  }
  .redes-container ul li a {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    background: #333;
    border-radius: 0;
  }
  .redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 #ffffff 0, 0, 0, 0.4;
  }
  .redes-container ul li .instagram:hover {
    background: #dd2a7b;
  }
  .redes-container ul li .youtube:hover {
    background: #ff0000;
  }
  .redes-container ul li .facebook:hover {
    background: #3b5999;
  }
  .redes-container ul li .whatsapp:hover {
    background: #43d854;
  }
  .catalogo {
    width: 30%;
    margin: 0 35% 0 35%;
  }
  .calculadoraPresupuestos {
    width: 20%;
    font-size: 4rem;
  }
  .calculadoraPresupuestos:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .nsli:hover {
    cursor: pointer;
  }
  .introduccion {
    font-size: 1.9rem;
    width: 60%;
    margin: 15px auto;
    padding: 7px;
    border-radius: 5px;
    background-color: #6CACE4;
  }
  .antesDespues {
    font-size: 3rem;
    margin: 15px 15px 45px 15px;
    justify-self: center;
  }
  #confirmarCompra:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .propertiesUl ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(11, 1fr);
  }
  .hDivisor {
    width: 50vw;
    margin: 60px auto;
  }
  .justMobile {
    display: none;
  }
  #btnBackToTop {
    display: none;
  }
  .footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding-bottom: 10px;
  }
  .whatsapp-btn img:hover {
    transform: scale(1.05);
  }
  .emergenciasSection div {
    margin: 10px;
  }
  .emergenciasSection div img {
    margin-right: 0;
  }
  .emergenciasSection div a {
    margin-left: 0;
  }
  .emergenciasSection div a:hover {
    transform: scale(1.05);
    background-color: #efb810;
  }
  .emergenciasSection .emergenciasWsp {
    border-radius: 100%;
    background-color: #ffffff;
    margin: auto;
    width: 60px;
    height: 60px;
    margin: 5px;
  }
}
.noShadow {
  box-shadow: none;
}

.maps {
  display: flex;
  flex-direction: row;
}
.maps .mapPlusLink {
  display: flex;
  flex-direction: column;
}
.maps .mapPlusLink .divMaps {
  border: 2px solid #6CACE4;
  display: flex;
  flex-direction: column;
}
.maps .mapPlusLink .divMaps:hover {
  border: 2px solid #efb810;
}
.maps .mapPlusLink .divMaps iframe {
  border-radius: 7px;
}
.maps .mapPlusLink div a {
  color: #43d854;
  margin: auto;
}
.maps .mapPlusLink div a .logoWspMaps {
  width: 60px;
  height: 60px;
  margin: 5px;
}
.maps .mapPlusLink div a .logoWspMaps:hover {
  transform: scale(1.03);
}